/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

# idea
/.idea/

# sbt-eclipse
/.classpath
/.project
/.settings

# generated SQL
/*.sql

# generated binaries
/bin/
/repo/
